@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&family=Noto+Sans:wght@400;700&family=Poppins:wght@200&display=swap');


@font-face {
    font-family: "CustomFont";
    src: url("../fonts/thinoothin.otf");
}

/* Variables */
:root{

    --main-color: #14D9C1;
    --black-color: #0C0B0B;
    --white-color: #FFF;
    --yoga-color: #55DFB6;
    --revista-color: #00BCD4;
    --nike-color: #BD89CD;

    --font-secondary: "CustomFont", sans-serif;
    --font-main: "Noto Sans", sans-serif;
    
}


html {
    line-height: 1.5em;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: var(--font-main);
}

main {
    display: block;
}


.btn{
    display:flex;
    justify-content: center;
    padding: 20px 55px;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--main-color);
    font-size: 24px;
}


/* navbar */

nav.navbar{
    background: var(--white-color);
    box-shadow: 0px 1px 8px rgba(129, 122, 122, 0.45);
    position: fixed;
    width: 100%;
    z-index: 999;
}

div.nav-container{
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

nav.navbar a{
    text-decoration: none;

}

a.logo{
    color: var(--main-color);
    font-family: var(--font-secondary);
    font-size: 42px;
}

.menu-list {
    list-style: none;
}

.menu-list li{
    display: inline-block;
    margin-left: 25px;
    font-size: 22px;
}

.menu-list li a{
    color: var(--black-color);
}

.menu-list li a:hover{
    color: var(--main-color);
    transition: all 0.3s ease;
}


/* present */

.container-present{
    padding-top: 10em;
    margin-bottom: 145px;
    
}

.img-present {
    width: 30%;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
.img-present img{
    clip-path: circle(50% at 50% 50%);
    width: 230px;
    height: 230px;

}

.info-present {
    width: 70%;
    align-items: center;
    padding: 80px;
}

.info-present h1{
    color: var(--main-color)
}

.info-present :is(h1, h2, p){
    margin-bottom: 40px;
}

.info-present button{
    background: var(--white-color);
   
}

.bubble-btn {
    color: var(--main-color);
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.bubble-btn span {
    position: absolute;
    width: 35%;
    height: 100%;
    background-color: var(--main-color);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.bubble-btn:hover {
    color: var(--white-color);
    cursor: pointer;
}

.bubble-btn:hover span {
    transform: translateY(0) scale(2);
}

.bubble-btn span:nth-child(1) {
    --n: 1;
}

.bubble-btn span:nth-child(2) {
    --n: 2;
}

.bubble-btn span:nth-child(3) {
    --n: 3;
}
.bubble-btn span:nth-child(4) {
    --n: 4;
}

.contacto-btn{
    width: 35%;
    text-decoration: none;
}


/* main */

.projects{
    display: block;
}

.project-container{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 480px;
    padding:1em 3em;
    margin-bottom: 70px;

}

.projects > h2.title{
    color: var(--main-color);
    font-size: 36px;
    text-align: center;
    margin-bottom: 36px;
}

.yoga-container{
    background-color: var(--yoga-color);
}

.yoga-info, .yoga-img{
    width: 50%;
}

.yoga-img img{
    width: 100%;
}

.yoga-info > .logo{
    display: flex;
    align-items: baseline;
    margin-bottom: 40px;

}

.yoga-info > .logo > h3 {
    color:var(--white-color);
    font-size: 48px;
    position: relative;
    top: -15px;
}
      
.yoga-info > p{
    color: var(--white-color);
    font-size: 24px;
    margin-bottom: 60px;
    
}

.yoga-btn{
    background: transparent;
    border-color: var(--white-color);
    color: var(--white-color)
}

.yoga-btn:hover{
    background-color: var(--white-color);
    border-color: var(--white-color);
    color: var(--yoga-color);
    transition: all 0.3s ease;
}

.yoga-btn a, .nike-btn a, .revista-btn a{
    text-decoration: none;
    color: inherit;
}

.revista-container{

    background-color: var(--revista-color);

}

.revista-info h3{ 
    color: var(--white-color);
    font-size: 40px;
    margin-bottom: 60px;
}

.revista-btn{
    background: transparent;
    border-color: var(--white-color);
    color: var(--white-color)
}

.revista-btn:hover{
    background-color: var(--white-color);
    border-color: var(--white-color);
    color: var(--revista-color);
    transition: all 0.3s ease;
}

.revista-info{
    width: 40%;
}

.revista-img{
    width: 60%;
    
}

.nike-container{
    background-color: var(--nike-color);

}
.nike-info h3{ 
    color: var(--white-color);
    font-size: 40px;
    margin-bottom: 60px;
}

.nike-btn{
    background: transparent;
    border-color: var(--white-color);
    color: var(--white-color)
}
.nike-btn:hover{
    background-color: var(--white-color);
    border-color: var(--white-color);
    color: var(--nike-color);
    transition: all 0.3s ease;
}

.nike-info .logo img{
    margin-bottom: 60px;
}


.nike-info{
    width: 50%;
}

.nike-img{
    width: 50%;
}

.sobremi-info h3{
    color: var(--main-color);
    font-size: 36px;
    align-items: center;
    margin-bottom: 40px;
}


.sobremi-img, .sobremi-info {
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.footer-container{
    width: 100%;
    background-color: var(--black-color);
    height: 380px;
    padding: 60px;
}

.footer{
    display: flex;
    align-items: center;
}
.footer .contacto-info{
    width: 50%;
}
.contacto-info h3{
    color:var(--white-color);
    font-size: 18px;
    align-items: center;
    margin-bottom: 40px;
}

.contacto-info p{
    margin-bottom: 40px;
}

.contacto-info a{
    color:var(--white-color);
    font-size: 24px;
    align-items: center;
}

.footer .logos{
    display: flex;
    justify-content: space-around;
    width: 50%;
}


.medium-img a,.linkedin-img a   {
    color: var(--white-color);
    font-size: 20px;
    text-decoration: none;
}

.copyright p{
    color: var(--white-color);
    text-align: center;
    font-size: 14px;
}